a {
  text-decoration: none;
  color: black;
}
a button {
  font-family: inherit;
}
#formLogin {
  position: relative;
  float: right;
  width: 45%;
}
#Login{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #777;
  border-radius: 0.4em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.384);
  background: #FFF;
  width: 70%;
  height: 70%;
}
#info{
  position: relative;
  float: left;
  padding:1em;
  width: 45%;
}
form {
  margin: 0 auto;
  width: 100%;
  padding: 1em 1em 0 0;
  
  justify-self: center;
 
  
  
}

ul {
  list-style: none;
  padding: 0;
  padding-top: 1em;
  margin: 0;
  width: 100%;
}

form li+li {
  margin-top: 0.5em;
}
label {
  
  display: inline-block;
  padding: 0;
  text-align: left;
  font-size: 10pt;
  color: rgb(59, 59, 59);
}

input,
textarea {
  font: 1em sans-serif;
  width: 90%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(155, 155, 155);
  transition: border 300ms ease-out;
  padding-bottom: 0.3em;
}

input:focus,
textarea:focus {
 outline: none;
  border-color: #000;
}

button {
  
  padding: 0.5em;
  font: bold 0.6em inherit;
  border: 1px solid #777;
  border-radius: 0.4em;
  background: none;
  cursor: pointer;
  margin-top: 1em;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.384);
  transition: background 100ms ease-in;
}
button:hover{
  background: #f0f0f5 ;
}
 #enviar{
  position: relative;
  text-align: center;
  width: 90%;
}




